.page-header {
    background-color: black;
    height: 80px;
    padding-right: 80px;
}

h1 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 50px;
    float: right;
    color: white;
}



#title2{
    font-size: 24px;
    float: right;
    color: white;

}

p{
    font-size: 14px;
    float: right;
    color: black;
}

.myTable {
    margin-left: 80px;
}

tr, td {
    border: 2px solid black;
    height: 110px; 
    width: 110px;
    text-align: center;
    font-size: 24px;
    background-color: lightgray;
}

.square {
    font-size: 72px;
    font-weight: bold;
    color: black;
    text-align: center;
    font-family: 'Indie Flower', cursive;

}
/*
.startgame {
    background-color: lime;
    color: black;
    font-size: 30px;
    padding: 20px;
    border-radius: 5%;
}
*/

#titleOfPanel {
    background-color: #3c763d;
    height: 50px;
    width: 45%;
    float: right;
}

#bodyOfPanel {}
    background-color: #d6e9c6;
    width: 45%;
}

#theButton {
    font-size: 36px;
    padding: 10px 40px;
    color: white;
    float: right;
}

.well {
    background-color: black;
}

#playerTurn {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin: 10px 160px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
}
