body{
    background-color: #daf0f2;
}

.page-header {
    background-color: #2ad3e1;
    height: 80px;
    padding-right: 80px;
    border: 2px solid black;
    border-right: none;
    border-left: none;
}

.panel-success {
    border: none;
}

h1 {
    font-family: 'Architects Daughter', cursive;
    font-size: 40px;
    float: right;
    color: black;
}

#title2{
    font-size: 24px;
    float: left;
    color: white;
}

p{
    font-size: 16px;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

.myTable {
    margin-left: 80px;
    margin-bottom: 80px;
}

tr, td {
    border: 2px solid black;
    height: 110px; 
    width: 110px;
    text-align: center;
    font-size: 24px;
    background-color: #e1e1e1;
}

.square {
    font-size: 72px;
    font-weight: bold;
    color: black;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

.square:hover {
    background-color: #2ad3e1;
}

.panel {
    border: none;
    -webkit-box-shadow: none;
}

#titleOfPanel {
    background-color: #2a9ce1;
    height: 50px;
    width: 45%;
    float: right;
    border: 1px solid black;
    margin-right: 80px;
    margin-top: 10px; 
    font-family: 'Open Sans', sans-serif;

}

#bodyOfPanel {
    background-color: #e1e1e1;
    width: 45%;
    border: 1px solid black;
    float: right;
    margin-right: 80px; 
}

#startGame {
    font-size: 36px;
    padding: 10px 40px;
    color: black;
    background-color: #2ad3e1;
    border-color: black;
    box-shadow: 0 2px 2px;
    float: right;
    margin: 0px 280px 80px 10px;
    position: relative;
    top: -120px;
    font-family: 'Open Sans', sans-serif;
}

.well {
    background-color: #2a9ce1;
    border: 1px solid black;
}

#playerTurn {
    font-size: 18px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 10px 170px;
    padding: 5px 10px;
    display: inline-block;
    width: 150px;
    text-align: center;
    vertical-align: center;
    height: 40px;
}

<style style="text/css">
.marquee-outer {
 height: 100px; 
 overflow: hidden;
 position: relative;
}

.marquee-inner {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);    
 transform:translateX(100%);
 /* Apply animation to this element */  
 -moz-animation: scroll-left 2s linear ;
 -webkit-animation: scroll-left 2s linear ;
 animation: scroll-left 2s linear ;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   { 
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%);       
 }
 100% { 
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%); 
 }
}
.marquee-inner2 {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);    
 transform:translateX(100%);
 /* Apply animation to this element */  
 -moz-animation: scroll-left 3s linear ;
 -webkit-animation: scroll-left 3s linear ;
 animation: scroll-left 3s linear ;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   { 
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%);       
 }
 100% { 
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%); 
 }
}
.marquee-inner3 {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);    
 transform:translateX(100%);
 /* Apply animation to this element */  
 -moz-animation: scroll-left 4s linear ;
 -webkit-animation: scroll-left 4s linear ;
 animation: scroll-left 4s linear ;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   { 
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%);       
 }
 100% { 
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%); 
 }
}
.marquee-inner4 {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);    
 transform:translateX(100%);
 /* Apply animation to this element */  
 -moz-animation: scroll-left 5s linear ;
 -webkit-animation: scroll-left 5s linear ;
 animation: scroll-left 5s linear ;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   { 
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%);       
 }
 100% { 
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%); 
 }
}
</style>